<div data-role="view" data-title="Home alone" data-layout="main" data-model="APP.models.door">
    
    <iframe width="360" height="200" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/166502/charts/2?width=360&height=200&results=120&title=&yaxismax=1&yaxismin=0">
    </iframe>
    <br>
    <br>
    <iframe width="360" height="200" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/166502/charts/3?width=360&height=200&results=120&title=&yaxismax=1&yaxismin=0">
    </iframe>
    <br>
    <br>
    <iframe width="360" height="200" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/166502/charts/5?width=360&height=200&results=120&title=&yaxismax=1&yaxismin=0">
    </iframe>
    <br>
    <br>
    <iframe width="360" height="200" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/166502/charts/1?width=360&height=200&results=120&title=&yaxismax=1&yaxismin=0">
    </iframe>
    <br>
    <br>
    <iframe width="360" height="200" style="border: 1px solid #cccccc;" src="http://api.thingspeak.com/channels/166502/charts/4?width=360&height=200&results=120&title=&yaxismax=1&yaxismin=0">
    </iframe>
</div>